<template>
    <guest-layout>
        <div>
            <div>
                なまえ
                <input class="block mt-1 w-full" type="text" name="name" v-model="this.input.name" required autofocus autocomplete="name" />
            </div>

            <div class="mt-4">
                しょぞく
                <input class="block mt-1 w-full" type="text" name="group" v-model="this.input.group" required />
            </div>

            <div class="mt-4">
                めーる
                <input class="block mt-1 w-full" type="email" name="email" v-model="this.input.email" required />
            </div>

            <div class="mt-4">
                ぱす
                <input class="block mt-1 w-full" type="password" name="password" v-model="this.input.password" required autocomplete="new-password" />
            </div>

            <div class="mt-4">
                ぱす確認
                <input class="block mt-1 w-full" type="password" name="password_confirmation" v-model="this.input.password_confirmation" required autocomplete="new-password" />
            </div>

            <div class="flex items-center justify-end mt-4">
                <inertia-link href="/login" method="get">
                    すでに登録されているかたはこちら
                </inertia-link>
            </div>
            <inertia-link href="/register" method="post" :data="this.input">[register]</inertia-link>
        </div>
    </guest-layout>
</template>

<script>
    import GuestLayout from './../../Layouts/GuestLayout'
    
    export default {
        components: {
          GuestLayout  
        },
        data() {
            return {
                input: {
                    name: '',
                    email: '',
                    group: '',
                    password: '',
                    password_confirmation: ''
                }
            }
        }

    }
</script>