<template>
    <app-layout>
        <div class="py-8">
            <div class="inner mx-auto sm:px-6 lg:px-8">
                <div class="overflow-hidden sm:rounded-lg">
                    <div class="pb-16 text-center">

                        <h1 class="mypage-title">
                            {{user.name}} さんのタスク管理
                        </h1>

                        <div class="flex justify-between">
                            <transition name="mypageSectionAppear01" appear>
                                <div class="flex flex-col pb-5 ml-8 mr-6 w-full bg-white shadow-lg rounded-lg">
                                    <h2 class="mypage-section-title">
                                        状況報告
                                    </h2>
                                    <div>
                                        <div class="flex items-center mb-6">
                                            <div class="flex flex-col items-center">
                                                <span class="text-sm">今週</span>
                                                <span class="px-1 text-xs text-gray-600 border border-solid border-gray-100">{{ this.momentWeek(0) }}</span>
                                            </div>
                                            <div class="selectbox-wrap">
                                                <select class="py-1 pl-5 text-sm cursor-pointer transition duration-300 hover:border-gray-400" v-model="status.current" @change="onChangeState">
                                                    <option value="0">未定</option>
                                                    <option value="1">余裕がある</option>
                                                    <option value="2">残業せずに帰れそう</option>
                                                    <option value="3">忙しい</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="flex items-center mb-6">
                                            <div class="flex flex-col items-center">
                                                <span class="text-sm">来週</span>
                                                <span class="px-1 text-xs text-gray-600 border border-solid border-gray-100">{{ this.momentWeek(1) }}</span>
                                            </div>
                                            <div class="selectbox-wrap">
                                                <select class="py-1 pl-5 text-sm cursor-pointer transition duration-300 hover:border-gray-400" v-model="status.second" @change="onChangeState">
                                                    <option value="0">未定</option>
                                                    <option value="1">余裕がある</option>
                                                    <option value="2">残業せずに帰れそう</option>
                                                    <option value="3">忙しい</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="flex items-center">
                                            <div class="flex flex-col items-center">
                                                <span class="text-sm">再来週</span>
                                                <span class="px-1 text-xs text-gray-600 border border-solid border-gray-100">{{ this.momentWeek(2) }}</span>
                                            </div>
                                            <div class="selectbox-wrap">
                                                <select class="py-1 pl-5 text-sm cursor-pointer transition duration-300 hover:border-gray-400" v-model="status.third" @change="onChangeState">
                                                    <option value="0">未定</option>
                                                    <option value="1">余裕がある</option>
                                                    <option value="2">残業せずに帰れそう</option>
                                                    <option value="3">忙しい</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </transition>

                            <transition name="mypageSectionAppear02" appear>
                                <div class="mx-6 w-full bg-white shadow-lg rounded-lg">
                                    <h2 class="mypage-section-title">
                                        タスクの登録
                                    </h2>
                                    <div class="flex flex-col items-center">
                                        <div class="pb-3">
                                            <input type="hidden" name="userID" v-model="form.user_id">
                                            <input
                                                type="text"
                                                name="item"
                                                v-model="form.item"
                                                placeholder="タスク名を入力"
                                                class="text-center text-sm border border-solid border-gray-300 rounded-sm transition duration-300 hover:border-gray-400"
                                            >
                                            <input type="hidden" name="category" v-model="form.category">
                                            <input type="hidden" name="status" v-model="form.status">
                                        </div>

                                            <inertia-link
                                                :href="`/users/store`"
                                                method="post"
                                                :data="form"
                                                class="px-4 border border-solid text-xs text-white border-gray-700 bg-gray-700 rounded-sm transition duration-300 hover:bg-gray-500"
                                            >
                                                登録
                                            </inertia-link>
                                    </div>
                                </div>
                            </transition>

                            <transition name="mypageSectionAppear03" appear>
                                <div class="ml-6 mr-8 w-full bg-white shadow-lg rounded-lg">
                                    <h2 class="mypage-section-title">
                                        タスク情報の変更
                                    </h2>
                                    <ul class="flex flex-col items-center pb-4">
                                        <li v-for="item in items" :key="item.id" class="flex flex-col justify-center mb-5">
                                            <div class="input-wrap mb-3">
                                                <input
                                                    v-model="item.item"
                                                    :name="`item${item.id}`"
                                                    type="text"
                                                    class="text-sm text-center border-2 border-solid border-gray-200 rounded-sm transition duration-300 hover:border-gray-400"
                                                >
                                                <!--
                                                <input v-model="item.category" :name="`category${item.id}`" type="text">
                                                <input v-model="item.status" :name="`status${item.id}`" type="text">
                                                -->
                                                <inertia-link :href="`/users/${item.id}`" method="delete" class="btn-close text-red-600">
                                                    
                                                </inertia-link>
                                            </div>
                                            <div class="flex justify-center items-end text-xs">
                                                <inertia-link
                                                    :href="`/users/${item.id}`"
                                                    method="post"
                                                    :data="item"
                                                class="px-4 text-xs border border-solid bg-white border-gray-400 rounded-sm transition duration-300 hover:border-gray-600"
                                                >
                                                    変更
                                                </inertia-link>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </transition>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
    import moment from 'moment'
    import AppLayout from './../../Layouts/AppLayout'
    
    export default {
        components: {
            AppLayout,
        },
        props:{
            user: {
                type: Object,
            },
            items: {
                type: Array,
            }
        },
        data() {
            return {
                form: {
                    user_id: this.user.id,
                    item: '',
                    category: 'null',
                    status: 'null',
                },
                status: {
                    current: this.user.state ? this.user.state : 0,
                    second: this.user.state_second ? this.user.state_second : 0,
                    third: this.user.state_third ? this.user.state_third : 0,
                },
            }
        },
        methods: {
            onChangeState() {
                this.$inertia.visit('/users/state_update', {
                    method: 'post',
                    data: this.status
                })
            },
            momentWeek(w) {
                const todayWeek = moment().week();

                return  moment().week(todayWeek + w).day(1).format('MM/DD') + ' - ';
            }
        },
    }
</script>
<style lang="scss">
    .mypage-title {
        position: relative;
        display: inline-block;
        margin: 0 auto 1.5em auto;
        padding: 0 .5em .1em .5em;
        color: rgb(85, 85, 85);
        text-align: center;
        font-weight: 700;
        font-size: 20px;
    }
    .mypage-section-title {
        position: relative;
        top: -.5em;
        margin-bottom: 1.2em;
        padding-top: .8em;
        padding-bottom: .6em;
        text-align: center;
        line-height: 1;
        background-color: rgb(179, 179, 98);
        color: white;
        font-weight: 700;
        border-radius: .8em .8em 0 0;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 20%; bottom: 0;
            width: 60%;
        }
    }

    .input-wrap {
        position: relative;

        &::after {
            content: '...';
            position: absolute;
            display: block;
            color: #999;
            right: 4px; bottom: 0;
        }
    }

    .selectbox-wrap {
        position: relative;
        margin-left: -.5em;
        padding-right: 1.5em;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: calc(50% - 3px); left: 4px;
            border-bottom: solid 6px rgb(245, 171, 171);
            border-right: solid 4px transparent;
            border-left: solid 4px transparent;
            transform: rotate(180deg);

            
        }
        &:hover {
            &::before {
                border-bottom: solid 6px rgb(255, 107, 107);
            }
        }

        select {
            border-bottom: 1px solid #e7ebf0;
        }
    }

    .btn-close {
        position: absolute;
        width: 10px; height: 10px;
        bottom: 5px; left: -17px;
        z-index: 20;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            border-bottom: 1px solid gray;
            transform: rotate(45deg);
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            border-bottom: 1px solid gray;
            transform: rotate(-45deg);
        }

        &:hover {
            &::before {
                border-bottom: 1px solid rgb(209, 81, 81);
            }
            &::after {
                border-bottom: 1px solid rgb(209, 81, 81);
            }
        }
    }

</style>    