<template>
    <app-layout>
        <div class="pt-8">
            <div class="flex inner mx-auto px-6">
                <transition name="roleSectionAppear01" appear>
                    <role-section
                        :persons="manager"
                        :relayToUser="relayToUser"
                        role="manager" class="role-manager mr-6"
                    >
                        <template #band>
                            <span>M</span>
                            マネージャー
                        </template>
                    </role-section>
                </transition>

                <transition name="roleSectionAppear02" appear>
                    <role-section
                        :persons="designer"
                        :relayToUser="relayToUser"
                        role="designer" class="role-designer mr-6"
                    >
                        <template #band>
                            <span>D</span>
                            デザイナー
                        </template>
                    </role-section>
                </transition>

                <transition name="roleSectionAppear03" appear>
                    <role-section
                        :persons="engineer"
                        :relayToUser="relayToUser"
                        role="engineer" class="role-engineer"
                    >
                        <template #band>
                            <span>E</span>
                            エンジニア
                        </template>
                    </role-section>
                </transition>

            </div>
        </div>

        <portal-target name="stateBand">
        </portal-target>

    </app-layout>
</template>

<style scoped>
 
    * {
        font-family: 'Ubuntu', 'Sawarabi Gothic', sans-serif;
    }

</style>

<script>
    import axios from 'axios'
    import AppLayout from './../Layouts/AppLayout'
    import Welcome from './../Jetstream/Welcome'
    import roleSection from './../Parts/roleSection'
    import stateBand from './../Parts/stateBand'

    export default {
        components: {
            AppLayout,
            Welcome,
            roleSection,
            stateBand
        },
        data() {
            return {
            }
        },
        props: {
            manager: {
                type: Array,
            },
            designer: {
                type: Array,
            },
            engineer: {
                type: Array,
            },
            items: {
                type: Array,
            },
            relayToUser: {
                type: Array
            },
        },
    }
</script>
