@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

.title-logo {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.inner {
    position: relative;
    max-width: 1080px !important;
    margin: 0 auto;
}


/* @keyframes */

@keyframes fly {
	0% {
		margin-bottom: -100%;
        left: 0;
	}
  100% {
        left: 0;
		margin-bottom: inherit;
  }
}
@keyframes slideIn {
	0% {
        left: -50%;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
            left: 0;
            opacity: 1;
    }
}
@keyframes slideOut {
	0% {
        right: 0;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
            right: -50%;
            opacity: 0;
    }
}

.roleSectionAppear01-enter-active, .roleSectionAppear01-leave-active {
    transition: all .3s ease;
    opacity: 1;
}
.roleSectionAppear01-enter, .roleSectionAppear01-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.roleSectionAppear02-enter-active, .roleSectionAppear02-leave-active {
    transition: all .6s ease;
    opacity: 1;
}
.roleSectionAppear02-enter, .roleSectionAppear02-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.roleSectionAppear03-enter-active, .roleSectionAppear03-leave-active {
    transition: all .9s ease;
    opacity: 1;
}
.roleSectionAppear03-enter, .roleSectionAppear03-leave-to {
    opacity: 0;
    transform: translateY(30px);
}


.mypageSectionAppear01-enter-active, .mypageSectionAppear01-leave-active {
    transition: all .1s ease;
    opacity: 1;
}
.mypageSectionAppear01-enter, .mypageSectionAppear01-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(10px);
}
.mypageSectionAppear02-enter-active, .mypageSectionAppear02-leave-active {
    transition: all .3s ease;
    opacity: 1;
}
.mypageSectionAppear02-enter, .mypageSectionAppear02-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(10px);
}
.mypageSectionAppear03-enter-active, .mypageSectionAppear03-leave-active {
    transition: all .5s ease;
    opacity: 1;
}
.mypageSectionAppear03-enter, .mypageSectionAppear03-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(10px);
}