<template>
    <div class="role-wrap w-full shadow-xl sm:rounded-lg">
        <h3 class="role-title">
            <slot name="band"></slot>
        </h3>
        <ul class="role-section">
            <state-tool-tips
                v-for="(person, index) in persons"
                :key="index"
                :person="person"
                :tooltipValue="relayToUser"
                :personId="person.id"
                :role="role"
            >
                <span class="flex items-center w-full mt-1">
                    {{ person.name }}
                </span>
                <div class="state-icons flex items-end relative top-1">
                    <status-icon :param="getState(person.state)"></status-icon>
                    <status-icon :param="getState(person.state_second)"></status-icon>
                    <status-icon :param="getState(person.state_third)"></status-icon>
                </div>
            </state-tool-tips>
        </ul>
    </div>
</template>

<script>
    import stateToolTips from './../Parts/stateToolTips'
    import statusIcon from './../Parts/statusIcon'
    import stateBand from './../Parts/stateBand'

    export default {
        components: {
            stateToolTips, statusIcon, stateBand
        },
        data() {
            return {
            }
        },
        props: {
            persons: {
                type: Array,
            },
            relayToUser: {
                type: Array,
            },
            role: {
                type: String,
            }
        },
        methods: {
            getState(val) {
                switch (val) {
                    case (0 || null):
                        return 0
                    case 1:
                        return 1
                    case 2:
                        return  2
                    case 3:
                        return  3
                    default:
                        break;
                }
            },
        }
    }
</script>

<style lang="scss">
    * {
        font-family: 'Ubuntu', 'Sawarabi Gothic', sans-serif;
    }
    .role-wrap {
        background-color: #f9f9f9;
    }
    .role-title {
        position: relative;
        text-align: center;
        color: #fff;
        font-weight: 700;
        padding: .4em 0;
    }
    .role-section {
        padding: 1em;
    }
    .role-manager .role-title {
        background-color: rgb(216, 103, 103);
        border-radius: .5em .5em 0 0;
    }
    .role-designer .role-title {
        background-color: rgb(118, 144, 228);
        border-radius: .5em .5em 0 0;
    }
    .role-engineer .role-title {
        background-color: rgb(116, 202, 116);
        border-radius: .5em .5em 0 0;
    }
    .role-title span {
        display: inline-block;
        position: absolute;
        top: .55em;
        left: .55em;
        width: 1.2em;
        line-height: 1.2em;
        background-color: white;
        border-radius: 9999em;

    }
    .role-manager .role-title span {
        color: rgb(216, 103, 103);
    }
    .role-designer .role-title span {
        color: rgb(118, 144, 228);
    }
    .role-engineer .role-title span {
        color: rgb(116, 202, 116);
    }
    .state-icons {

        & > div {
            margin-left: 2px;
        }
        & > div:first-child {
            position: relative;
            svg {
                position: relative;
                top: 2px;
                width: 28px !important;
                height: auto;
            }
        }
        & > div:nth-child(2) {
            svg {
                width: 18px;
                height: auto;
            }
        }
        & > div:nth-child(3){
            svg {
                width: 18px;
                height: auto;
            }
        }
    }

</style>