<template>
    <div>
        <span v-if="(!param || 0)" class="state0" title="未定">
            <svg-state0 />
            <p v-if="title">
                未定
            </p>
        </span>
        <span v-else-if="param == 1" class="state1" title="余裕がある">
            <svg-state1 />
            <p v-if="title">
                余裕がある  
            </p>
        </span>
        <span v-else-if="param == 2" class="state2" title="定時に上がれそう">
            <svg-state2 />
            <p v-if="title">
                定時に上がれそう
            </p>
        </span>
        <span v-else-if="param == 3" class="state3" title="残業の必要がある">
            <svg-state3 />
            <p v-if="title">
                残業の必要がある
            </p>
        </span>
    </div>
</template>

<script>
    import svgState0 from './../SVG/svgState0'
    import svgState1 from './../SVG/svgState1'
    import svgState2 from './../SVG/svgState2'
    import svgState3 from './../SVG/svgState3'

    export default {
        components: {
            svgState0, svgState1, svgState2, svgState3 
        },
        props: {
            param: null,
            title: false
        },
    }
</script>

<style lang="scss" scoped>

    .state0 {

        svg {
            fill: rgb(156, 156, 156);
        }
    }

    .state1 {

        svg {
            fill: rgb(143, 197, 93);
        }
    }

    .state2 {

        svg {
            fill: rgb(224, 202, 75);
        }
    }

    .state3 {

        svg {
            fill: rgb(219, 67, 67);
        }
    }

</style>