<template>
    <li
        class="_user flex justify-between relative mb-2 p-2 shadow-sm cursor-pointer"
        @click="commitStickyShow(personId)"
    >

        <span
            class="flex items-center"
        >
            <svg-state
                class="svg-state inline-block mr-2 z-50 transition duration-300"
                :class="getSVGActive"
            />

        </span>

        <slot></slot>

        <portal to="stateBand">
            <state-band
                :ico="person.profile_photo_path"
                :user="person.name"
                :status="[person.state, person.state_second, person.state_third]"
                :tasks="getHasItems(tooltipValue)"
                :role="role"
                v-if="getStickyShow == personId"
            >
            </state-band>
        </portal>

    </li>
</template>

<style scoped>
    li._user {
        transition: .2s;
        background-color: rgba(241, 237, 221, 0.1);
        color: rgba(92, 92, 92, 0.87);
        font-size: 14px;
        border-radius: .5em;
        font-weight: 600;
    }
    li._user:hover {
        background-color: rgba(255, 227, 180, 0.3);
        color: rgba(117, 114, 117, 0.973);
    }

    .tooltip {
        z-index: 50;
        top: -18px;
        left: 35px;
    }
    .tooltip-item {
        display: block;
        padding: .2em 1em;
        margin-bottom: .2em;
        min-width: 100px;
        background-color: rgba(230, 200, 178, 0.8);
        color: rgba(117, 114, 117, 0.973);   font-size: 14px; font-weight: 700;
        border-radius: 7px;
        z-index: 1000;
        text-align: center;
        border: 1px solid #efefef;
    }
    .tooltip-item:nth-child(2n) {
        position: relative;
        left: 1em;
        background-color: rgba(253, 241, 204, 0.9);
    }
    
    .svg-state._active {
        background-color: rgba(255, 187, 0, 0.6);
        fill: white;
        border-radius: 5px;
    }
</style>

<script>

    import svgState from './../SVG/svgState'
    import stateBand from './../Parts/stateBand'

    export default {
        components: {
            svgState,
            stateBand
        },
        props: {
            person: Object,
            personId: Number,
            tooltipValue: Array,
            role: String,
        },
        data () {
            return {
                show: Number,
            }   
        },
        methods: {
            hasItems(users) {
                if(users.length > 0) {
                    return users.filter(user => user.items.length > 0);
                }
                return '';            
            },
            relaiedItems(value, id) {
                if(value.length > 0) {
                    return value.filter(filteredValue => Number(filteredValue.user_id) === id);
                }
                return '';
            },
            getHasItems(targets) {
                const users = this.hasItems(targets);
                const relay = [];
                users.forEach(user => {
                    relay.push(this.relaiedItems(user.items, this.personId));
                });
                return relay
            },
            commitStickyShow(id) {
                return this.$store.commit('commitStickyShow', id);
            }
        },
        computed: {
            getStickyShow() {
                return this.$store.getters.getStickyShow;
            },
            getSVGActive() {
                if(this.getStickyShow == this.personId) return '_active';
            }
        }
    }
</script>