<template>
    <div class="
        state-band
        fixed w-full bottom-0 left-0
        bg-white
        border-t-1 border-solid border-gray-100"
    >
        <div class="state-band-sections relative flex justify-center h-full">

            <div class="state-band-user _left-split flex flex-col justify-center items-center mr-8">
                <span class="_img-wrap block mb-1 rounded-full overflow-hidden border border-solid border-gray-400">
                    <img v-if="getIco" :src="`${app_url}storage/${getIco}`" :alt="user" class="rounded-full object-cover">
                    <img v-else src="img/ico/sample.png" :alt="user" class="rounded-full object-cover">
                </span>
                <span class="_name text-xl font-medium">
                    {{ user }}
                </span>
            </div>

            <div class="state-band-tasks _left-split flex items-center justify-start mr-8" :class="getRoleClass">
                <div class="mr-4">
                    <span class="block w-full text-center">Role</span>
                    <span class="_roleico flex items-center justify-center text-lg font-bold text-white rounded-full">
                        {{ getRoleIco }}
                    </span>
                </div>
                <ul class="mr-4 py-1 text-xs">
                    <li
                        v-for="(task, index) in getTasks" :key="index"
                        class="mt-1"
                    >
                        <div
                            v-for="(item, index) in task" :key="index"
                            class="flex"
                        >
                            <svg-work v-if="item.item" class="mr-1 ml-2" />
                            <span v-if="item.item" class="mr-5">
                                {{ item.item }}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="_status flex justify-between items-center w-full font-normal">
                <div class="_current-week p-1 text-center" style="min-width: 150px;">
                    <span class="text-md mb-1 pb-1 border-b border-solid border-gray-300">今週</span>
                    <status-icon :param="status[0]" :title="true"></status-icon>
                </div>
                <div class="p-2 text-gray-800" style="min-width: 134px;">
                    <span class="text-xs mb-1 border-b border-solid border-gray-300">翌週</span>
                    <status-icon :param="status[1]" :title="true"></status-icon>
                    <span class="mt-4 mb-1 text-xs border-b border-solid border-gray-300">翌々週</span>
                    <status-icon :param="status[2]" :title="true"></status-icon>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import statusIcon from './../Parts/statusIcon'
    import svgWork from './../SVG/svgWork'
    export default {
        components: {
            statusIcon,
            svgWork
        },
        data() {
            return {
                userData: this.user,
                app_url: null
            }
        },
        props: {
            ico: String,
            user: String,
            tasks: Array,
            status: Array,
            role: String,
        },
        computed: {
            getIco: {
                get: function() {
                    return this.ico
                }
            },
            getRoleIco: {
                get: function() {
                    if(this.role == 'manager') return 'M'
                    if(this.role == 'designer') return 'D'
                    if(this.role == 'engineer') return 'E'
                    return '?'
                }
            },
            getRoleClass: {
                get: function() {
                    return 'state-band-role-' + this.role
                }
            },
            getTasks: {
                get: function() {
                    return this.tasks
                }
            },
        },
        methods: {
        },
        watch: {
            user: function() {
                const animationTarget = document.querySelector('.state-band-sections');
                animationTarget.classList.remove('slideIn');
                animationTarget.classList.add('slideOut');
                setTimeout(() => {
                    animationTarget.classList.remove('slideOut');
                    animationTarget.classList.add('slideIn');
                }, 0.1 * 1000);
            }
        },
        mounted() {
            this.app_url = location.href;
        }

    }
</script>

<style lang="scss">

    .state-band {
        padding: 20px 0;
        height: 180px;
        color: rgb(32, 32, 32);
        animation: fly;
		animation-duration: .4s;
		animation-fill-mode: both;
		animation-timing-function: ease;
    }
    .state-band-sections  {
        animation: fly;
		animation-duration: .4s;
		animation-fill-mode: both;
		animation-timing-function: ease;
        left: -100%;
    }
    .slideIn {
        animation: slideIn;
		animation-duration: .5s;
		animation-fill-mode: both;
		animation-timing-function: ease;
    }
    .slideOut {
        animation: slideOut;
		animation-duration: .3s;
		animation-fill-mode: both;
		animation-timing-function: ease;
    }
    ._left-split {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 40px); right: 0;
            width: 1px; height: 80px;      
            background-color: rgb(207, 207, 207);  
        }
    }
    .state-band-user {
        width: 180px; max-width: 180px;
        color: rgb(61, 61, 61);

        ._img-wrap {
            width: 50px;
            height: 50px;
        }
        img {
            width: 50px;
            height: 50px;
        }
    }
    ._status {
        width: 310px; max-width: 310px;
        
        & > div {
            background-color: #f7f7f7;
        }
        ._current-week {
            background-color: white;
        }
        ._current-week > div {
            position: relative;
            svg {
                position: relative;
                top: 2px;
                width: 28px !important;
                height: auto;
            }

            p {
                font-size: 14px;
            }
        }
        p {
            font-size: 12px;
            color: #333;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        svg {
            margin-right: 2px;
            width: 20px; height: auto;
        }
    }
    .state-band-tasks {
        width: 170px; max-width: max-content !important;
        color: rgb(15, 15, 15) !important;
        font-weight: 400 !important;

        ul li {

            svg {
                width: 15px; height: auto;
                fill: rgb(243, 167, 95);
            }
        }

        ._roleico {
            width: 40px; max-width: 40px; height: 40px;
        }
    }
    .state-band-role-manager ._roleico {
        background-color: rgb(216, 103, 103);
    }
    .state-band-role-designer ._roleico {
        background-color: rgb(118, 144, 228);
    }
    .state-band-role-engineer ._roleico {
        background-color: rgb(116, 202, 116);
    }
</style>