<template>
    <jet-form-section @submitted="updateProfileInformation">
        <template #title>
            プロフィール
        </template>

        <template #form>

            <div class="flex justify-center">
                <!-- Profile Photo -->
                <div class="mr-24 relative" v-if="$page.jetstream.managesProfilePhotos">
                    <!-- Profile Photo File Input -->
                    <input type="file" class="hidden"
                                ref="photo"
                                @change="updatePhotoPreview">
                    <!-- Current Profile Photo -->
                    <div class="flex justify-center mt-2" v-show="! photoPreview">
                        <img :src="$page.user.profile_photo_url" alt="Current Profile Photo" class="rounded-full  w-32 h-32 object-cover">
                    </div>

                    <!-- New Profile Photo Preview -->
                    <div class="flex justify-center mt-2" v-show="photoPreview">
                        <span class="block rounded-full w-32 h-32"
                            :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'">
                        </span>
                    </div>

                    <div class="flex justify-center relative">
                        <jet-secondary-button class="mt-4 shadow-md border border-solid border-gray-300 text-gray-700" type="button" @click.native.prevent="selectNewPhoto">
                            変更する
                        </jet-secondary-button>

                    <jet-input-error :message="form.error('photo')" class="mt-2" />
                    </div>
                </div>

                <div class="inline-flex flex-col justify-center text-xs">
                    <!-- Name -->
                    <div class="mb-4">
                        <span class="inline-block bg-indigo-50 mb-1 py-1 pl-1 pr-2">
                            <span class="text-white">▶︎</span> ユーザーネーム
                        </span>
                        <jet-input id="name" type="text" class="mt-1 block w-60 border border-solid border-gray-200 text-sm" v-model="form.name" autocomplete="name" />
                        <jet-input-error :message="form.error('name')" class="mt-2" />
                    </div>

                    <!-- Email -->
                    <div class="">
                        <span class="inline-block bg-indigo-50 mb-1 py-1 pl-1 pr-2">
                            <span class="text-white">▶︎</span> Email
                        </span>
                        <jet-input id="email" type="email" class="mt-1 block w-60 border border-solid border-gray-200 text-sm" v-model="form.email" />
                        <jet-input-error :message="form.error('email')" class="mt-2" />
                    </div>
                </div>
            </div>

        </template>

        <template #actions>
            <jet-action-message :on="form.recentlySuccessful" class="absolute -mt-20">
                保存されました
            </jet-action-message>

            <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                保存する
            </jet-button>
        </template>
    </jet-form-section>
</template> 

<style lang="scss">
 .jet-button {
     color: white !important;
 }
</style>

<script>
    import JetButton from './../../Jetstream/Button'
    import JetFormSection from './../../Jetstream/FormSection'
    import JetInput from './../../Jetstream/Input'
    import JetInputError from './../../Jetstream/InputError'
    import JetLabel from './../../Jetstream/Label'
    import JetActionMessage from './../../Jetstream/ActionMessage'
    import JetSecondaryButton from './../../Jetstream/SecondaryButton'

    export default {
        components: {
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
        },

        props: ['name', 'email'],

        data() {
            return {
                form: this.$inertia.form({
                    '_method': 'PUT',
                    name: this.name,
                    email: this.email,
                    photo: null,
                }, {
                    bag: 'updateProfileInformation',
                    resetOnSuccess: false,
                }),

                photoPreview: null,
            }
        },

        methods: {
            updateProfileInformation() {
                if (this.$refs.photo) {
                    this.form.photo = this.$refs.photo.files[0]
                }

                this.form.post('/user/profile-information', {
                    preserveScroll: true
                });
            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            updatePhotoPreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.photoPreview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.photo.files[0]);
            },

            deletePhoto() {
                this.$inertia.delete('/user/profile-photo', {
                    preserveScroll: true,
                }).then(() => {
                    this.photoPreview = null
                });
            },
        },
    }
</script>
