<template>
    <jet-form-section @submitted="updatePassword">
        <template #title>
            パスワード変更
        </template>

        <template #form>
            <div class="flex flex-col justify-center items-center text-xs">
                <div class="mb-4">
                    <span class="inline-block bg-indigo-50 mb-1 py-1 pl-1 pr-2">
                        <span class="text-white">▶︎</span> 現在のパスワード
                    </span>
                    <jet-input id="current_password" type="password" class="mt-1 block w-60 border border-solid border-gray-200 text-sm" v-model="form.current_password" ref="current_password" autocomplete="current-password" />
                    <jet-input-error :message="form.error('current_password')" class="mt-2" />
                </div>

                <div class="mb-4">
                    <span class="inline-block bg-indigo-50 mb-1 py-1 pl-1 pr-2">
                        <span class="text-white">▶︎</span> 新しいパスワード
                    </span>
                    <jet-input id="password" type="password" class="mt-1 block w-60 border border-solid border-gray-200 text-sm" v-model="form.password" autocomplete="new-password" />
                    <jet-input-error :message="form.error('password')" class="mt-2" />
                </div>

                <div class="">
                    <span class="inline-block bg-indigo-50 mb-1 py-1 pl-1 pr-2">
                        <span class="text-white">▶︎</span> 新しいパスワード（確認）
                    </span>
                    <jet-input id="password_confirmation" type="password" class="mt-1 block w-60 border border-solid border-gray-200 text-sm" v-model="form.password_confirmation" autocomplete="new-password" />
                    <jet-input-error :message="form.error('password_confirmation')" class="mt-2" />
                </div>
            </div>
        </template>

        <template #actions>
            <jet-action-message :on="form.recentlySuccessful" class="absolute -mt-20">
                保存されました
            </jet-action-message>

            <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                保存する
            </jet-button>
        </template>
    </jet-form-section>
</template>

<script>
    import JetActionMessage from './../../Jetstream/ActionMessage'
    import JetButton from './../../Jetstream/Button'
    import JetFormSection from './../../Jetstream/FormSection'
    import JetInput from './../../Jetstream/Input'
    import JetInputError from './../../Jetstream/InputError'
    import JetLabel from './../../Jetstream/Label'

    export default {
        components: {
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
        },

        data() {
            return {
                form: this.$inertia.form({
                    current_password: '',
                    password: '',
                    password_confirmation: '',
                }, {
                    bag: 'updatePassword',
                }),
            }
        },

        methods: {
            updatePassword() {
                this.form.put('/user/password', {
                    preserveScroll: true
                }).then(() => {
                    this.$refs.current_password.focus()
                })
            },
        },
    }
</script>
