<template>
    <div class="">
        <transition name="profileTitleAppear" appear>
            <jet-section-title>
                <template #title>   
                    <slot name="title"></slot>
                </template>
                <template #description><slot name="description"></slot></template>
            </jet-section-title>
        </transition>

        <div class="mt-5 md:mt-0 md:col-span-2">
            <slot name="content"></slot>
        </div>
    </div>
</template>

<script>
    import JetSectionTitle from './SectionTitle'

    export default {
        components: {
            JetSectionTitle,
        }
    }
</script>
