<template>
    <div>
        <transition name="profileTitleAppear" appear>
            <jet-section-title>
                <template #title>
                    <slot name="title"></slot>
                </template>
                <template #description><slot name="description"></slot></template>
            </jet-section-title>
        </transition>


        <transition name="profileSectionAppear" appear>
            <div class="mx-auto relative" style="width: 700px;">
                <form @submit.prevent="$emit('submitted')">
                    <div class="mb-12 shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-8 bg-white">
                            <div class="">
                                <slot name="form"></slot>
                            </div>
                        </div>

                        <div class="flex items-center justify-center px-4 py-3 bg-gray-50 text-right sm:px-6" v-if="hasActions">
                            <slot name="actions"></slot>
                        </div>
                    </div>
                </form>
            </div>
        </transition>
    </div>
</template>

<style lang="scss">
    .mypage-title {
        position: relative;
        display: block;
        margin: 0 auto 1em auto;
        padding: 0 .5em .1em .5em;
        color: rgb(85, 85, 85);
        text-align: center;
        font-weight: 700;
        font-size: 20px;
    }   
    .profileSectionAppear-enter-active, .profileSectionAppear-leave-active {
        transition: all .5s ease;
        opacity: 1;
    }
    .profileSectionAppear-enter, .profileSectionAppear-leave-to {
        opacity: 0;
        transform: translateY(20px);
    }
    .profileTitleAppear-enter-active, .profileTitleAppear-leave-active {
        transition: all 1.5s ease;
        opacity: 1;
    }
    .profileTitleAppear-enter, .profileTitleAppear-leave-to {
        opacity: 0;
    }
</style>

<script>
    import JetSectionTitle from './SectionTitle'

    export default {
        components: {
            JetSectionTitle,
        },

        computed: {
            hasActions() {
                return !! this.$slots.actions
            }
        }
    }
</script>
