<template>
    <div class="font-sans text-gray-900 antialiased">
        <slot></slot>
    </div>
</template>

<style>
h1 {
    font-weight: 700;
}

</style>

<script>
    import JetApplicationLogo from './../Jetstream/ApplicationLogo'
    import JetApplicationMark from './../Jetstream/ApplicationMark'

    export default {
        components: {
            JetApplicationLogo,
            JetApplicationMark,
        },

        data() {
            return {
                showingNavigationDropdown: false,
            }
        },

        methods: {
            logout() {
                axios.post('/logout').then(response => {
                    window.location = '/';
                })
            },
        },

        computed: {
            path() {
                return window.location.pathname
            }
        }
    }
</script>
